# GOOSE migrations settings
GOOSE_DRIVER=sqlite
GOOSE_DBSTRING=dtf_db.sqlite
GOOSE_MIGRATION_DIR=./migrations

# telegram bot token
TELEGRAM_TOKEN=token

# list of telegram ids separated by comma
TELEGRAM_ADMINS=12345678,98765